<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-Page Not Found</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/404.css">
</head>
<body>
    <div class="error-container">
        <div class="error-details">
            <h1 class="error-heading">404</h1>
            <p class="error-msg">Look like you're lost!</p>
            <p class="error-quote">The page you are looking for not avaible!</p>

        <a class="error-home" href="/">Go Back Home</a>
        </div>
    </div>
</body>
</html>