<div class="topbar">
    <div class="logo">
        <i class="bi bi-list" onclick="handleSideNavbar()"></i>
        <span class="logo-first">C</span>AREERLAND
    </div>

    <a class="download-csv" href="/download-students-csv">Download Data
        <i class="bi bi-filetype-csv"></i> </a>
</div>