<div class="topbar">
    <div class="logo">
        <span class="logo-first">C</span>AREERLAND
    </div>

    <div class="employee-part">
        <a href="/download-students-csv">Download Students Data</a>

        <!-- <img src="/assets/images/icons/bell.png" alt="" class="top-bar-icons ">
        <img src="/assets/images/icons/calendar.png" alt="" class="top-bar-icons ">
        <img src="/assets/images/icons/graduates.png" alt="" class="top-bar-icons "> -->

    </div>
</div>