<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

    <!-- Custom Css  -->
    <link rel="stylesheet" href="css/home.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <span class="logo-first">C</span>AREERLAND
        </div>
        <ul class="nav-list">
            <li class="nav-list-items">Home</li>
            <li class="nav-list-items">Dashboard</li>
        </ul>
    </nav>

    <div class="homepage">
        <div class="welcome-text">
            <div class="greet-msg">
                Welcome To
                <div class="site-name">
                    <span class="logo-first">C</span>AREERLAND
                </div>
            </div>
            <span class="quote">
                The future belongs to those who believe in the beauty of their dreams.
            </span>

            <div class="authorization">
                    <a class="sign-in" href="/authorization">Sign In</a>
                    <a class="sign-up" href="/authorization">Create Your Account</a>
            </div>
        </div>
        <div class="home-background">
        </div>
    </div>
</body>

</html>