.employee-navbar {
  width: 220px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  /* position: absolute;
    top: 7vh;
    left: 0;
    height: calc(100% - 7vh); 
    z-index: 3;*/
}
.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.employee-name {
  color: rgb(223, 223, 223);
  font-size: 18px;
}
.employee-designation {
  color: rgb(168, 168, 168);
  font-size: 10px;
}
.employee-company {
  color: rgb(0, 149, 255);
  font-size: 12px;
}

/* .nav{
} */

.nav-items {
  list-style: none;
  height: 35px;
}
.nav-items a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: 0.3s;
  color: rgb(204, 204, 205);
  border-radius: 8px;
  overflow: hidden;
}
.nav-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.nav-items a:hover {
  color: rgb(154, 206, 255);
  background-color: rgba(68, 68, 68, 0.4);
  transition: 0.3s;
  border: 1px solid;
}

.log-out {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: rgb(173, 173, 173);
}

.log-out-icon {
  height: 25px;
}

.log-out:hover {
  color: rgb(0, 187, 255);
}

@media screen and (max-width: 700px) {
  .employee-navbar {
    position: absolute;
    top: 7vh;
    left: 0;
    z-index: 3;
    height: calc(100% - 7vh);
    width: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    overflow: hidden;
  }
}
